*.iml
.gradle
.idea
.kotlin
.venv
.env
uv.lock
/mobile/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/mobile/build
**/build
**/GeneratedStrings.kt
/captures
.externalNativeBuild
.cxx
.cursor
.vscode
app-release.*
play-console-credentials.json
output-metadata.json
settings.json
local.properties
keystore.jks
app.egg-info
